:root {
  --beige: #F0EDDD;
  --dark-beige: #CAB99F;
  --black: #0D1A1C;
  --blue: #0C7DE5;
  --light-blue: #7AB9D9;
}

/* Body */
body {
  background-color: var(--beige);
  font-family: 'Oswald',
    sans-serif;
}

*[hidden^=true] {
  visibility: hidden;
  display: none;
  position: absolute;
}

*[hidden^=false] {
  visibility: visible;
  display: block;
  position: relative;
}

a {
  text-decoration: none;
}

/* Header */
header {
  text-align: center;
}

header h1 {
  margin: 0.2em;
  color: var(--black);
  font-size: 2.2em;
  font-weight: bold;
}

header h1 span {
  color: red;
}

.controls {
  float: right;
}

.controls button {
  display: block;
}

#main {
  position: relative;
}

.label {
  font-size: 13px;
  transition: all 0.5s ease;
}


.label.x-axis {
  font-size: 17px;
  color: red;
}

#mobile-warning {
  display: none;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  margin-top: 35vh;
}

@media only screen and (max-width: 900px) {

  #title,
  #main,
  .controls {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  #mobile-warning {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}